<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>FantaRhythm</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet"  href="/public/stylesheets/bootstrap.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/stylesheets/agroup.css">
    </head>
    <body>
        <div class="text-center">
          <h1>FantaRhythm ランキング</h1>
          <h2>曲名: <span class="musictitle"><%= "music01" %></span></h2>
        </div>
        <hr>
          <% var rank = data[0] %>
          <% for(var i = 0; i < rank.length; i++){ %>
            <div class="text-center scores">
              <%= i + 1 %>位
              プレイヤー名: <%= rank[i]["player_name"] %>
              スコア: <%= rank[i]["scoer"] %>
              <%= rank[i]["music"] %>
            </div>
          <% } %>
    </body>
</html>
